*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
*:focus{
    outline: none;
}

body{
    background-color: #8ec787;
}

.container{
    background-image: url("https://t4.ftcdn.net/jpg/04/12/54/77/360_F_412547765_ohTTmwiFDiy6SydjHK5XkXuUyLxzlByQ.jpg");
    background-repeat: repeat-y;
    box-shadow: 0px 0px 10px #737373;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    width: 500px;
    height: auto;
}
.manager{
    text-align: center;
}
.itemEnter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 330px;
}
.viewTypes{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 330px;
}
.list{
    text-align: center;
}
.list ul{
    display: inline-block;
}
.list li{
    margin-bottom: 5px;
}

button, input[type=submit]{
    padding: 5px;
}